* {
  box-sizing: border-box;
  font-family: 'Roboto', sans-serif;
}

:root {
  --primary: #BB1F2A;
  --black: #000000;
  --blackLighter: #9E9E9E;
  --grayLight: #F5F5F5;
  --grayMedium: #e5e5e5; 
  --white: #FFFFFF;
  --frontEnd: #C62257;
  --backEnd: #E5666D;
}

html,
body {
  margin: 0;
  padding: 0;
}

a {
  color: inherit;
} 